<%- include("partials/header")%>
<div class="ui main text container segment">
<div class="ui huge header">
    Edit Blog: <%=blog.title%>
</div>
<form action="/blogs/<%=blog._id%>?_method=PUT" method="post" class="ui form">
    <div class="field">
        <label for="">Title</label>
        <input type="text" name="blog[title]" value="<%=blog.title%>" required>
    </div>
    <div class="field">
        <label for="">Image</label>
        <input type="text" name="blog[image]" value="<%=blog.image%>" required>
    </div>
    <div class="field">
        <label for="">Description</label>
        <Textarea name="blog[decription]" required><%=blog.decription%></Textarea>
    </div>
    <input class="ui violet basic button" type="submit">
</form>
</div>

<%-include("partials/footer") %>
